<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Traffic Prediction </title>
</head>

<body>
    <h1 align="center">Predict Traffic Situation using AI</h1>
    <h6>Your result will be uploaded soon....</h6>

    <form action="/submit" method='post'>
        <label for="Time">Time: </label><br>
        <input type="text" id="time" name="time" value="0"><br>
        <label for="Date">Date: </label><br>
        <input type="text" id="date" name="date" value="0"><br><br>
        <label for="Day">Day of the Week:</label><br>
        <input type="text" id="day" name="day" value="0"><br><br>
        <label for="CarCount">Car Count:</label><br>
        <input type="text" id="CarCount" name="CarCount" value="0"><br>
        <label for="BikeCount">Bike Count: </label><br>
        <input type="text" id="BikeCount" name="BikeCount" value="0"><br><br>
        <label for="BusCount">Bus Count: </label><br>
        <input type="text" id="BusCount" name="BusCount" value="0"><br><br>
        <label for="TruckCount">Truck Count: </label><br>
        <input type="text" id="TruckCount" name="TruckCount" value="0"><br><br>

        <input type="submit" value="Submit">
    </form>
</body>

</html>